body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#landing-body {
    background-image: url(https://s3.amazonaws.com/project-r/logo.png);
    background-repeat: no-repeat;
    background-position: center 200px;
    background-color: rgb(63, 169, 245);
}

#landing-email {
    width: 290px;
    margin: 350px auto 0 auto;
}

#email-input {
    padding: 0 5px;
    margin: 0;
    width: 225px;
    height: 40px;
    display: inline;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#email-input:focus {
    outline: none;
}

#email-send {
    padding: 0;
    margin: 0 0 0 5px;
    width: 60px;
    height: 40px;
    display: inline;
    border: none;
    border-radius: 5px;
    color: rgb(63, 169, 245);
    background-color: white;
    font-size: 1.2em;
    text-align: center;
}

#email-send:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}

#landing-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
}

#submit-message, #thank-you {
    display: none;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#thank-you {
    font-size: 1.5em;
}
